/*Base styles*/

body {
  font-family: "Nunito", sans-serif;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 200%;
  line-height: 0;
  color: black;
}

h2 {
  font-weight: 100;
  font-size: 110%;
}

/*Layout styles*/

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav li {
  display: inline-block;
  margin: 0 1em 0 1em;
  text-decoration: underline;
}

.btn-submit,
.signup form input[type="submit"] {
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  width: 8em;
  align-self: center;
  text-align: center;
  display: inline-block;
  margin-top: 1em;
}

.hero,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  width: 35rem;
  height: 20rem;
  align-self: center;
}

/*Block styles*/
